<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Crear una cuenta</h3>
                </div>
                <div class="card-body">
                    <form action="/signup" method="POST" class="vstack gap-2 mx-auto">
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Name" class="form-control" autofocus required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Nombre de usuario" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Contraseña" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Registrarte
                            </button>
                        </div>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>